/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Otros estilos personalizados */
/* Reset CSS */
/* ====================================
   CSS RESET SIMPLE
==================================== */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
